@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@font-face {
  font-family: "Valentina Regular";
  src: url('/fonts/valentina-regular-webfont.eot?1445368412');
  src: url('/fonts/valentina-regular-webfont.eot?&1445368412#iefix') format('embedded-opentype'), url('/fonts/valentina-regular-webfont.woff2?1445368412') format('woff2'), url('/fonts/valentina-regular-webfont.woff?1445368412') format('woff'), url('/fonts/valentina-regular-webfont.ttf?1445368412') format('truetype'), url('/fonts/valentina-regular-webfont.otf') format('opentype'), url('/fonts/valentina-regular-webfont.svg?1445368412#valentinaregular') format('svg');
}
@media screen {
  html {
    background-image: url("images/pattern1.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 300px;
  }

  body {
    font-family: 'Valentina Regular';
    color: #363C40;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px;
    width: 70%;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .audible, .social span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #contact {
    background: #B1BFBF;
    border-top: 1px solid #B1BFBF;
    border-bottom: 1px solid #B1BFBF;
    width: 100%;
  }

  #photos {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    height: 60vw;
    align-content: flex-start;
    justify-content: flex-start;
    line-height: 0;
  }
  #photos div {
    width: 33.3%;
    position: relative;
    display: inline-block;
  }
  #photos a {
    transition: .4s opacity;
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  #photos a span {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    color: #fff;
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    line-height: 1em;
  }
  #photos:hover a {
    opacity: 0.5;
  }
  #photos:hover a:hover {
    opacity: 1;
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1.5em;
  }
  .social li {
    display: inline-block;
  }
  .social i {
    font-size: 1.75em;
    line-height: 1.71429em;
    line-height: 1.71429em;
    width: 1.71429em;
    height: 1.71429em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* h5bp.com/t */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  #banner {
    display: none;
  }
}
