@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@font-face {
  font-family: "Valentina Regular";
  src: url('/fonts/valentina-regular-webfont.eot?1447472436');
  src: url('/fonts/valentina-regular-webfont.eot?&1447472436#iefix') format('embedded-opentype'), url('/fonts/valentina-regular-webfont.woff2?1447469848') format('woff2'), url('/fonts/valentina-regular-webfont.woff?1447472436') format('woff'), url('/fonts/valentina-regular-webfont.ttf?1447472436') format('truetype'), url('/fonts/valentina-regular-webfont.svg?1447472436#valentinaregular') format('svg');
}
@font-face {
  font-family: "Universum";
  src: url('/fonts/universum-webfont.eot?1445645322');
  src: url('/fonts/universum-webfont.eot?&1445645322#iefix') format('embedded-opentype'), url('/fonts/universum-webfont.woff2?1445645322') format('woff2'), url('/fonts/universum-webfont.woff?1445645322') format('woff'), url('/fonts/universum-webfont.ttf?1445645322') format('truetype'), url('/fonts/universum-webfont.svg?1445645322#universum') format('svg');
}
@media screen {
  html {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZGVkNCIgc3RvcC1vcGFjaXR5PSIwLjQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGRlZDQiIHN0b3Atb3BhY2l0eT0iMC4yIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url("images/summer1.jpg");
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(240, 222, 212, 0.4)), color-stop(100%, rgba(240, 222, 212, 0.2))), url("images/summer1.jpg");
    background-image: -moz-linear-gradient(top, rgba(240, 222, 212, 0.4), rgba(240, 222, 212, 0.2)), url("images/summer1.jpg");
    background-image: -webkit-linear-gradient(top, rgba(240, 222, 212, 0.4), rgba(240, 222, 212, 0.2)), url("images/summer1.jpg");
    background-image: linear-gradient(to bottom, rgba(240, 222, 212, 0.4), rgba(240, 222, 212, 0.2)), url("images/summer1.jpg");
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: auto;
  }

  body {
    font-family: 'Valentina Regular';
    color: black;
    padding: 50px;
    margin: 0;
  }

  a:link {
    color: #05090a;
    -moz-font-feature-settings: "dlig=1", "swsh=1", "salt=1";
    -moz-font-feature-settings: "dlig", "swsh", "salt";
    -ms-font-feature-settings: "dlig", "swsh", "salt";
    -o-font-feature-settings: "dlig", "swsh", "salt";
    -webkit-font-feature-settings: "dlig", "swsh", "salt";
    font-feature-settings: "dlig", "swsh", "salt";
  }

  a:visited {
    color: #3c484b;
  }

  a:hover, a:focus {
    color: #B23794;
  }

  a:active {
    color: #4B8A9B;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .audible, .social span {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  #banner {
    -moz-font-feature-settings: "dlig=1", "swsh=1", "salt=1";
    -moz-font-feature-settings: "dlig", "swsh", "salt";
    -ms-font-feature-settings: "dlig", "swsh", "salt";
    -o-font-feature-settings: "dlig", "swsh", "salt";
    -webkit-font-feature-settings: "dlig", "swsh", "salt";
    font-feature-settings: "dlig", "swsh", "salt";
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border-bottom: 1px solid rgba(183, 205, 204, 0.6);
    margin-bottom: 1em;
  }
  #banner p a {
    font-size: 60px;
    display: block;
    text-decoration: none;
  }
  #banner p a i {
    letter-spacing: 6px;
    color: #5d9fb1;
  }
  #banner em {
    font-family: "Universum";
    font-style: oblique;
  }

  #globalnav {
    -moz-font-feature-settings: "dlig=1";
    -moz-font-feature-settings: "dlig";
    -ms-font-feature-settings: "dlig";
    -o-font-feature-settings: "dlig";
    -webkit-font-feature-settings: "dlig";
    font-feature-settings: "dlig";
  }
  #globalnav ul {
    list-style: none;
    text-align: right;
    margin-left: 0;
    padding-left: 0;
  }

  #contact {
    background: #26464F;
    border-top: 1px solid #26464F;
    border-bottom: 1px solid #26464F;
    width: 100%;
  }

  #photos div {
    position: relative;
    width: 33%;
    line-height: 0;
  }
  #photos a {
    transition: .4s opacity;
  }
  #photos a span {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0;
    color: #fff;
    padding: 10px;
    background-color: #26464F;
    font-family: "Universum";
    line-height: 1em;
  }
  #photos:hover a {
    opacity: 0.5;
  }
  #photos:hover a:hover {
    opacity: 1;
  }

  #contentinfo {
    text-align: center;
    border-top: 1px solid rgba(38, 70, 79, 0.6);
  }

  .alternatives {
    font-size: 40px;
    word-wrap: break-word;
    -moz-font-feature-settings: "ss09=1";
    -moz-font-feature-settings: "ss09";
    -ms-font-feature-settings: "ss09";
    -o-font-feature-settings: "ss09";
    -webkit-font-feature-settings: "ss09";
    font-feature-settings: "ss09";
  }

  .social {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 1.5em;
  }
  .social li {
    display: inline-block;
  }
  .social i {
    font-size: 1.75em;
    line-height: 1.71429em;
    line-height: 1.71429em;
    width: 1.71429em;
    height: 1.71429em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
}
@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* Don't show links for images, or javascript/internal links */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* h5bp.com/t */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

  #banner {
    display: none;
  }
}
/* For the graphs on the books page. */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}

.selected {
  height: 25px;
  width: 300px;
  border: solid 1px;
  background: #545448;
  opacity: .6;
  color: #eee;
  padding-left: 3px;
}
